                    /*BODY*/
.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0px; /* Adjust padding as needed */
}

                    /*TEXT SPECIFIC FORMATTING*/
.arial {
  font-family: arial;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
.grey {
  color: grey;
}
.italic {
  font-style: italic;
}
.padded {
  padding-left: 15px;
  padding-right: 15px;
}
.purple-bold-text{
  font-family: arial;
  font-weight: bold;
  color: rgb(223, 126, 223);
}
                    /*CENTERING ON PAGE*/
.row-centering {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column-centering {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

                    /* START HEADER & FIRST SECTION */
.background-image {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  padding-top: 50px;
  padding-left: 100px;
}
.logo {
  display: inline;
}
header ul {
  display: inline;
  overflow: hidden;
}
header li {
  float: right;
  list-style-type: none;
}
header a {
  display: inline;
}
header li a {
  padding-right: 50px;
}
.nav-txt {
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

                    /* BLOCK 1 */
.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}
.block1 h1{
  font-size: 100px;
}
.smiles-grin-laugh {
  font-size: 15px;
}
.smiles {
  padding-right: 25px;
}
.grin {
  padding-right: 25px;
}
.laugh {
  padding-right: 25px;
}

                    /* BLOCK 2 */
.block2 {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.register-button {
  background-color: transparent;
  border: none;
  margin-bottom: 100px;
  cursor: pointer;
}

.learn-from-the-pros{
  font-size: 25px;
  font-family: arial;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.pro {
  padding-right: 100px;
  color: white;
  font-family: sans-serif;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro-formatting {
  max-width: 75%
}


                    /* START QUOTES SECTION */
.quote-block {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quote-section {
  background-color: rgb(179, 118, 236);
}

.red-shirt {
  max-width: 75%;
}
.red-shirt-text {
  padding-top: 100px;
  padding-bottom: 100px;
}

                    /* TUTORIALS SECTION */
.tutorial-section h1{
  padding-top: 50px;
  padding-bottom: 50px;
}

.tutorial-row {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tutorial-block {
  padding-right: 50px;
  font-family: arial;
  top: 30px;
  z-index: 1;
}

.overlapped {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.overlapped .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tutorial-block h2 {
  font-weight: bold;
}
.tutorial-block h3 {
  color: rgb(179, 118, 236);
}

.tutorial-block .minutes {
  color: rgb(179, 118, 236);
}
.phil {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phil img {
  padding-right: 15px;
}
.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:  center;
}
.star-rating img {
  padding-right: 10px;
}
.star-rating p {
  padding-left: 80px;
}

                    /* MEMBERSHIP START*/
.membership-section {
  background-color: #071629;
  margin-top: 70px;
  color: #fff;
  font-family: arial;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.membership-section h1 {
  padding-top: 25px;
  font-family: arial;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.membership-section span {
  padding-right: 10px;
}

.membership-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.membership-item {
  padding-right: 120px;
}


                    /*  FAQ START */
.FAQ-section h1 {
  font-family: arial;
  font-weight: lighter;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.FAQ-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.FAQ-item {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  align-items: left;;
}

/* FOOTER START*/

footer {
  background-color: #071629;
  padding: 40px 0;
  color: #fff;
}
.footer-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 25px;
}
.footer-rows {
  max-width: 150px;
  height: auto;
}
.social-block {
  display: flex;
  gap: 20px;
}
.social-block img {
  width: 30px;
  height: auto;
}
.footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-top: 20px;
}